
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Audiowide&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Russo+One&display=swap');


:root{
  --primary: #015C53;
  --secondary: #9DC026;
  --tertiary:#F2884C;
  --accent: #1A00FF;
}